extends layout

block content
	table.myTable.table-striped
		h1 Offices
		thead
			tr
				th.officeCode Office Code 
				th.city City
				th.phone Phone
				th.country Country
				th Delete
			tbody#dataTableRow
				-results.map((row)=>{
					tr
						td #{row.officeCode}
						td #{row.city}
						td #{row.phone}
						td #{row.country}
						td
							a(href=`/deletePost/${row.officeCode}`) 
								button(type="submit").btn.btn-danger#deletePost Delete
				-})